<<?xml version="1.0"?>
<robot name="rover_base">
    <link name="base_link">
        <visual name="base_link">
            <origin xyz="0.0 0.0 0.125" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.35 0.34 0.25"/>
            </geometry>
            <material name="violet">
                <color rgba="0.7 0.0 0.7 0.85"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.125" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.35 0.34 0.25"/>
            </geometry>
        </collision>
    </link>>
</robot>