<launch>
    <arg name="use_ekf" default="true"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="map"    args="0 0 0 0 0 0 1 map odom"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="rs_cam" args="0.15 0 0.18 0 0 0 1 base_link camera_link"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="imu"    args="0 0 0.17 0 0 0 1 base_link imu_link"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="urg"    args="0.1 0 0.21 0 0 0 1 base_link urg_sensor"/>

    <param name="robot_description" textfile="$(find ros_ps_rover_base)/model/robot_frame.urdf"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node pkg="nodelet" type="nodelet" name="nl_cmd_vel_smoother" args="manager" output="screen">
        <param name="num_worker_threads" value="1"/>
    </node>
    <include file = "$(find yocs_velocity_smoother)/launch/velocity_smoother.launch">
        <arg name="node_name" value="cmd_vel_smoother"/>
        <arg name="nodelet_manager_name" value="nl_cmd_vel_smoother"/>
        <arg name="config_file" value ="$(find ros_ps_rover_base)/params/cmd_vel_smoother.yaml"/>
        <arg name="robot_cmd_vel_topic" value="/cmd_vel"/>
        <arg name="odom_topic" value="/odometry"/>
        <arg name="smooth_cmd_vel_topic" value="/cmd_vel/smoothed"/>
    </include>

    <include file="$(find ros_plain_serial)/launch/plain_serial.launch">
        <arg name="dev_port" value="ttyACM"/>
        <remap from="/cmd_vel" to="/cmd_vel/smoothed"/>
    </include>

    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>
    
    <include file="$(find ros_ps_rover_base)/launch/util/ekf_sensor.launch" if="$(arg use_ekf)"/>
    
    <node pkg="urg_node" name="urg_node" type="urg_node" required="true">
        <param name="ip_address" value="192.168.0.10"/>
        <param name="frame_id" value="urg_sensor"/>
    </node>
</launch>
