<launch>
    <arg name="port" default="/dev/ttyUSB0"/>
    <arg name="x" default="0.2"/>
    <arg name="y" default="-0.2"/>
    <arg name="z" default="1.57"/>

    <node pkg="ros_plain_serial" name="ros_serial_TF2" type="ros_serial_TF2.py" required="true" output="screen">
        <param name="port" value="$(arg port)"/>
        <remap from="/plain_serial/cmd_vel" to="/cmd_vel"/>
        <remap from="/plain_serial/odometry" to="/odometry"/>
    </node>

    <node pkg="joy" name="joy_node" type="joy_node" required="true" output="screen"/>
    <node pkg="ros_mecanum_robot" name="joy_converter" type="joy_converter.py" required="true">
        <param name="x" value="$(arg x)"/>
        <param name="y" value="$(arg y)"/>
        <param name="z" value="$(arg z)"/>
    </node>
</launch>
