<launch>
    <arg name="port" default="/dev/ttyUSB0"/>
    <arg name="x" default="0.3"/>
    <arg name="y" default="-0.3"/>
    <arg name="z" default="1.57"/>

    <!--mapフレーム未発行による警告の抑制-->
    <!--
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_map" args="0 0 0 0 0 0 map frame"/>
    -->
    <node pkg="ros_plain_serial" name="ros_serial_TF2" type="ros_serial_TF2.py" required="true" output="screen">
        <param name="port" value="$(arg port)"/>
        <remap from="/plain_serial/cmd_vel" to="/cmd_vel"/>
        <remap from="/plain_serial/odometry" to="/odometry"/>
    </node>

    <!--urg測域センサが車体前方100mmに位置するため。TF2のフレームをbase_link以下に配置-->
    <!--
    <node pkg="tf2_ros" type="static_transform_publisher" name="urg_sensor" args="0.1 0 0 0 0 0 1 base_link urg_sensor"/>
    -->
    <node pkg="joy" name="joy_node" type="joy_node" required="true" output="screen"/>
    <node pkg="ros_mecanum_robot" name="joy_converter" type="joy_converter.py" required="true">
        <param name="x" value="$(arg x)"/>
        <param name="y" value="$(arg y)"/>
        <param name="z" value="$(arg z)"/>
    </node>
 
    <node pkg="urg_node" name="urg_node" type="urg_node" required="true"/>
 
</launch>
